#seal{
	font-size: 37px;
	padding: 110px 20px 30px 20px;
}

#crest{
	font-size: 23px;
}

#spacer{
	padding: 0px 76px 0px 76px;
}

#menu{
	font-size: 23px;
}

#MainStuff{
	max-width: 800px;
	margin: 0 auto;
	font-size: 20px;
	line-height: 40px;
	text-align: justify;
	padding: 0px 10px 30px 10px;
}

.foot{
	padding: 90px;
}
	
#bottomspacer{
	padding-left: 90px;
	padding-right: 90px;
}