#seal{
	text-align: center;
	font-family: 'Proxima Nova', sans-serif;
	color: #474747;
}

#menu li{
	display: inline;
}

em{
	font-style: italic;
}

strong{
	font-style: bold;
}

h1{
	font-size: 28px;
	font-family: 'Adobe Garamond Pro', serif;
	position: absolute;
	padding-left: 3px;
}

blockquote{
	padding-left: 40px;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 50px;
	color: #575757;
	font-size: 20px;
	font-style: italic;
	border-left: #FF9393 4px solid;
}

#date{
	color: #FF9393;
	font-family: 'Adobe Garamond Pro', serif;
	font-size: 20px;
	position: relative;
	padding-top: 32px;
	padding-bottom: 60px;
}

#menu{
	display: none;
	font-family: 'Adobe Garamond Pro', serif;
	text-align: center;
}

#crest{
	text-align: center;
	font-family: 'Adobe Garamond Pro', serif;
	color: #919191;
}

#menu li a{
	text-decoration: none;
	color: #919191;
}

#menu li a:hover{
	color: #999;
}

#top{
	padding-bottom: 75px;
}

p a{
	text-decoration: none;
	color: #E46254;
}

.code{

	border-radius: 4px;
	background: #282626;
	border: 1px solid #000000;

}

#cntr{
	margin: 0 auto;
	text-align: center;
}

p a:hover{
	color: #383838;
}



.foot li{
	font-size: 20px;
	font-family: 'Adobe Garamond Pro', serif;
	display: inline;
}

.foot li a{
	text-decoration: none;
	color: #919191;
}

