	#seal{
		font-size: 28px;
		padding: 90px 10px 25px 10px;
	}


	#crest{
		display: none;
	}

	#spacer{
		padding: 0px 50px 0px 50px;
	}

	#menu{
		display: block;
		font-size: 20px;
	}

	#MainStuff{
		width: 100%;
		font-size: 20px;
		line-height: 40px;
		text-align: justify;
		padding: 0px 10px 30px 10px;
	}

	#post{
		max-width: 632px;
		margin: 0 auto;
	}

	.foot{
	padding: 30px;
	}
	
	#bottomspacer{
		padding-left: 70px;
		padding-right: 70px;
	}



